* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sharing css */
.container {
  width: 71%;
  max-width: 1363px;
  margin: 0 auto;
}

.work-sans {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

/* main css */
header {
  width: 100%;
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 865px;
}

#banner .banner-content {
  max-width: 525px;
  text-align: right;
}

#banner .banner-content h1 {
  font-size: 65px;
  color: #151414;
  margin-bottom: 24px;
}

#banner .banner-content p {
  font-size: 16px;
  line-height: 25px;
  color: #444343;
  margin-bottom: 32px;
}

#banner .banner-content .btn {
  background-color: #f15b22;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

/* about start */
#about{
  margin-top: 130px;
}
.about-content{
  display: flex;
  gap: 109px;
  justify-content: space-between;
  align-items: center;
}

.about-img{
  position: relative;
  /* width: 579px; */
}
.about-img img {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}


.about-img::after {
  content: "";
  position: absolute;
  top: 63%;
  left: 50%;
  width: 527px;
  height: 527px;
  background-color: #f15d226d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.about-title{
  width: 416px;
  
}
.about-title h2{
  color: #151414;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.about-title p , li{
  color: #444343;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 26px;
  text-align: justify;
}

.about-title ul{
  list-style: none;
}

.about-title li i{
  color: #16D887;
}